.AddForm {
  width: 90%;
  margin: 2rem auto;
  height: 8rem;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(152, 238, 204);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.form label {
  margin-right: 10px;
}
