.sidebar {
  background-color: gray;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
}
button {
  padding: 1rem;
  width: 100px;
  margin-bottom: 1rem;
}
